.feed-card {
  padding: 22px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ffffff10;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header > .card-header-btn {
  color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 25px;
  font-size: 16px;
  padding: 8px 22px;
  background-color: #001d3d;
}
.card-header-img {
  border-radius: 50%;
  border: 1px solid #ffffff80;
  padding: 2px;
  height: 36px;
  width: 36px;
}
.card-header-img > img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
  object-fit: cover !important;
  border-radius: 50%;
}
.profile-name {
  padding-left: 6px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.profile-name span {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.card-description {
  color: white;
  padding-top: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card-image {
  padding-top: 12px;
  width: 100%;
  margin: 0 auto;
}
.card-image > img {
  width: 100%;
}
.card-footer {
  margin-top: 24px;
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.dislikes,
.likes {
  display: flex;
  gap: 6px;
  align-items: center;
}
.dislikes span,
.likes span {
  font-size: 14px;
}
@media (max-width: 768px) {
  .card-footer {
    width: 100%;
  }
  .feed-card {
    padding: 16px;
  }
  .card-header > .card-header-btn {
    border-radius: 22px;
    font-size: 14px;
    padding: 8px 28px;
  }
}
