.trending-card {
  display: flex;
  flex-direction: column;
  /* padding: 16px; */
  gap: 12px;
  /* background-color: #3e8df450; */
  margin: 8px 0px;
  /* border: 2px solid #3e8df470; */
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
}
.trending-card .trending-card-header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}
.trending-card .trending-card-header p {
  color: #003580;
  /* font-family: Inter; */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.trending-card .trending-card-header span {
  color: black;
  /* font-family: Inter; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.trending-card .trending-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  color: #0059c9;
  /* color: white; */
  font-weight: 500;
  line-height: 1.2;
}
.trending-card .trending-card-body > h5 {
  font-size: 24px;
}
.trending-card-body > img {
  width: 10%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .trending-card .trending-card-body > h5 {
    font-size: 16px;
  }
  .trending-card-body > img {
    width: 25%;
  }
  .trending-card .trending-card-body {
    gap: 2rem;
  }
}
